body{
    background: #bdc3c7;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#score{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 16px auto;
    color: #999;
    text-align: center;
    font-size: 30px;
}


main{
   width: 300px;
   background: #ecf0f1;
   padding: 20px;
   border: 4px solid #fff;
   border-radius: 12px;
   margin: 16px auto;
   display: flex;
   justify-content: space-between;
}

.panel img{
    width: 90px;
    height: 110px;
    margin-bottom: 4px;
    object-fit: contain;
    background-color: #fff;
}

.stop{
    cursor: pointer;
    width: 90px;
    height: 32px;
    background: #ef454a;
    box-shadow: 0 4px 0 #d1483e;
    border-radius: 16px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    user-select: none;
}

#spin{
    cursor: pointer;
    width: 280px;
    height: 36px;
    background: #3498db;
    box-shadow: 0 4px 0 #2880b9;
    border-radius: 18px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    user-select: none;
    margin:0 auto;
}

.unmatched{
    opacity: 0.5;
}

.inactive{
    opacity: 0.5;
}